@import "status_bar.css";
@import "variables.css";
@import "menu-content.css";
@import "content.css";
@import "main-content.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}
